<div class="container my-3">


  <div class="row g-4">


    <div class="col-md-4">
      <div>
        <div class="lines w-25 mb-4"></div>
        <h1 class="h3">All <br>tv <br> To Watch Now</h1>
        <p class="text-muted mt-3">Most Trending Tv by week</p>
        <p>{{myDate | date : 'mediumDate'}}</p>
        <div class="lines mb-4"></div>

        <input [(ngModel)]="searchTVWord"  class="form-control me-1 my-auto" type="search trending movies" placeholder="Search" aria-label="Search">
      </div>
    </div>


    <div *ngFor="let item of allTV | searchTv:searchTVWord" class="col-md-4">
      <div class="movie-card">
          <div class="posterMovie">
              <img [src]="imgPath+item.poster_path" class="imgPoster w-100" alt="">
              <div class="movieDetailes text-center">
                  <div>
                      <h2>{{item.name}}</h2>
                      <p>{{item.overview}}</p>
                      <p>Rate: {{item.vote_average}}</p>
                  </div>
              </div>
          </div>

      </div>
    </div>
  </div>
</div>

